* {
  box-sizing: border-box;
  color: aliceblue;
}
/*NAVBAR*/
nav {
  color: black;
  font-size:18px ;
  text-transform: uppercase;
  font-weight: bold;
}
.bg-dark{
  background: transparent !important;
  transition: 0.75s ease;
}
.bg-dark.scrolled{
  background:#0c1a4d !important;
}
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover{
  color: #007aff;
  /* font-size: 25px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 2px; */
}
.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link{
  color: white;
}
.dropdown-menu{
  background: #0c1a4d;
}
.dropdown-item{
  color: #fff;
}
.dropdown-item:hover{
  background: #2f428a;
  color: #007bff;
}
/*BARRA DE BÚSQUEDA*/
.form-control{
  width: 100%;
  padding: 20px;
  padding-right: 60px;
  box-sizing: border-box;
  background: rgba(0, 0, 0, 0.3);
  border: 1px solid #007bff;
  border-radius:50px ;
  font-size: 18px;
  color: #fff;
  outline: none;
}

.fa-search{
  position: relative;
  top: 50%;
  right: 50px;
  color: #007bff;
  font-size: 25px;

}
/*RESPONSIVE NAVBAR*/
@media screen and (max-width: 768px) {
  .navbar {
    position: fixed;
    background: #0c1a4d;
    height: 100vh;
    width: 50%;
    flex-direction: column;
  }
}
/* .container {
  background-color: #ffffff;
} */

#NuevaPeli {
  color: #000000;
  height: 70px;
  margin-top: 100px;
}

#boton-nuevapeli {
  float: right;
  margin-right: 80px;
}

/* Tabla de Peliculas */

.Contenedor__pelis {
  margin-left: 8%;
  margin-right: 8%;
}

table {
  background-color: rgb(1, 30, 53);
  text-align: left;
  width: 100%;
}

th, td {

    border: solid 1px gray;
padding: 20px;

}

thead {

    background-color:  rgb(1, 49, 88);
border-bottom: solid 5px gray;
color: white;
font-size: 20px;
}

tr:nth-child(even) {

    background-color:rgb(0, 32, 61) ;
}

tr:hover td {

background-color:rgba(74, 110, 145, 0.4);

}
/* FER */
/*Footer */

.redes-container {
  display: flex;
  align-items: left;
  justify-content: left;
}

.redes-container li {
  display: inline-block;
  margin: 0 5px;
  margin-top: 10px;
  width: 50px;
  height: 50px;
  text-align: center;
}

.facebook {
  font-size: 30px;
}

.twitter {
  font-size: 30px;
}
.linkedin {
  font-size: 30px;
}
.instagram {
  font-size: 30px;
}

/*FORMULARIO EMERGENTE */

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #1b6ca8;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #5295c5;
  width: 60%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: rgb(24, 23, 23);
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: underline;
  cursor: pointer;
}

/*FORMULARIO*/
.formulario {
  margin-top: 100px;
  margin-bottom: 75px;
  margin-left: auto;
  margin-right: auto;
  width: 500px;
  max-width: 100%;
  padding: 20px;
  box-shadow: 0 0 20px 1px black;
  position: relative;
}

.formulario__titulo {
  text-align: center;
  margin-bottom: 30px;
  margin-top: 30px;
  color: black;
}

/* Boton Enviar */

.formulario__input,
.formulario__label,
.formulario__submit {
  display: block;
  width: 100%;
  margin-bottom: 30px;
  font-size: 1.3em;
}

.formulario__input {
  background-color: rgb(1, 30, 53, 0.3);
  padding: 10px;
  border: 1px solid black;
  margin-bottom: 40px;
}

.formulario__input:focus {
  outline: 1.5px solid rgb(13, 98, 224);
}

.formulario__input:focus + .formulario__label {
  margin-top: -130px;
}

.formulario__label {
  padding-left: 15px;
  position: absolute;
  margin-top: -85px;
  z-index: -20;
  transition: all 0.2s;
}

.formulario__submit {
  background-color: rgb(1, 30, 53);
  padding: 20px;
  box-shadow: 0 0 3.5px 1px black;
}

#formulario__label{
  color: #000000;
}

option{
  background: #1b6ca8;
}

/* js */

.fijar {
  margin-top: -135px;
}

#menu {
  background: rgb(1, 30, 53);
}