* {
    box-sizing: border-box;
color: aliceblue;
}


body {

margin: 0;
font-family: sans-serif;
}

.formulario {
    margin-top: 100px;
    margin-bottom: 100px;
   margin-left: auto;
   margin-right: auto;
    width: 500px;
    max-width: 100%;
   padding: 20px;
   box-shadow: 0 0 20px 1px antiquewhite;
position: relative;
}

.formulario__titulo {

    text-align: center;
    margin-bottom: 25px;
    color: white;
}

/* Boton Enviar */

.formulario__input, .formulario__label, .formulario__submit {

display: block;
width: 100%;
margin-bottom: 30px;
font-size: 1.3em;

}

.formulario__input {
background-color: rgb(1, 30, 53,0.3);
    padding: 10px ;
    border: 1px solid white;
    margin-bottom: 40px;
}

.formulario__input:focus {

    outline: 1.5px solid lightblue;
}

.formulario__input:focus + .formulario__label {

    margin-top: -130px;

}


.formulario__label {

padding-left: 15px;
position: absolute;
margin-top: -85px;
z-index: -20;
transition: all 0.2s;
}

.formulario__submit {

    background-color:  rgb(1, 30, 53);
    padding: 20px;
    box-shadow: 0 0 3.5px 1px white;
}


/* js */

.fijar {

    margin-top: -135px;
}

#menu {
    background: rgb(1, 30, 53); 
}