:root{
    --azul: #4D09FC;
    --fondo: #02124b;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: var(--fondo);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
.contenedor {
    width: 90%;
    margin: auto;

}
/*NAVBAR*/
nav {
    color: black;
    font-size:18px ;
    text-transform: uppercase;
    font-weight: bold;
}
.bg-dark{
    background: transparent !important;
    transition: 0.75s ease;
}
.bg-dark.scrolled{
    background:#0c1a4d !important;
}
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover{
    color: #007aff;
    /* font-size: 25px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px; */
}
.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link{
    color: white;
}
.dropdown-menu{
    background: #0c1a4d;
}
.dropdown-item{
    color: #fff;
}
.dropdown-item:hover{
    background: #2f428a;
    color: #007bff;
}
/*BARRA DE BÚSQUEDA*/
.form-control{
    width: 100%;
    padding: 20px;
    padding-right: 60px;
    box-sizing: border-box;
    background: rgba(0, 0, 0, 0.3);
    border: 1px solid #007bff;
    border-radius:50px ;
    font-size: 18px;
    color: #fff;
    outline: none;
}

.fa-search{
    position: relative;
    top: 50%;
    right: 50px;
    color: #007bff;
    font-size: 25px;

}
/*RESPONSIVE NAVBAR*/
/* @media screen and (max-width:768px){
    .navbar{
        position: fixed;
        background: #0c1a4d;
        height: 100vh;
        width: 50%;
        flex-direction: column;
    }
} */

/* PRIMER y SEGUNDO CAROUSEL*/
.carousel-item{
    /* height: 100vh; */
    /* min-height: 300px; */
    background: no-repeat center center scroll;
    /* -webkit-background-size: cover;
    background-size:cover ; */
    /* -webkit-mask-image: radial-gradient(ellipse 200% 70% at 50% 50%, black 0.5%, transparent 66%);
    mask-image: radial-gradient(ellipse 100% 90% at 70% 50%, black 0.5%, transparent 66%); */
}
.gradient{
    -webkit-mask-image: radial-gradient(ellipse 200% 70% at 50% 50%, black 0.5%, transparent 66%);
    /* mask-image: radial-gradient(ellipse 100% 90% at 70% 50%, black 0.5%, transparent 66%); */
}
.carousel-caption h5{
    font-size: 45px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: 25px; 
    /* color: #bdbec0;   */
}
.carousel-caption p{
    width: 60%;
    margin: auto;
    font-size: 18px;
    line-height: 1.9;
    color: #cccfd3;
}
.carousel-caption a{
    text-transform: uppercase;
    background: #262626;
    padding: 10px 30px;
    display: inline-block;
    color: #fff;
    margin-top:15px ;
}
.Button, button, [type='button'], [type='reset'], [type='submit'] {
    border: 0;
    cursor: pointer;
    padding: .1rem 1rem;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    line-height: 2rem;
    width: auto;
    border-radius: 3rem;
}

.carousel-indicators li {
    width: 10px;
    height: 10px;
    border-radius: 100%;
}
.carousel-indicators {
    bottom: -50px;
    text-align: right;
    float: right;
    right: 2% !important;
    left: inherit;
    padding-left: 0;
}
.segundo{
  /* margin-right: 0; */
  bottom: -75px;
  right: -2% !important;
}
 
/*Carouseles con lista de peliculas, títulos controles*/
.contenedor-titulo-controles {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }
  
  .contenedor-titulo-controles h3 {
    color: #fff;
    font-size: 30px;
  }
  
  .contenedor-titulo-controles .indicadores button {
    background: #fff;
    height: 3px;
    width: 10px;
    cursor: pointer;
    border: none;
    margin-right: 2px;
  }
  
  .contenedor-titulo-controles button:hover,
  .contenedor-titulo-controles button:active {
    background: red;
  }
  
  /* CONTENEDOR PRINCIPAL Y FLECHAS*/
  .pelicula{
    padding-right: 20px;
  }
  .peliculas-recomendadas {
    margin-bottom: 70px;
  }
  
  .peliculas-recomendadas .contenedor-principal {
    display: flex;
    align-items: center;
    position: relative;
  }
  
  .peliculas-recomendadas .contenedor-principal .flecha-izquierda,
  .peliculas-recomendadas .contenedor-principal .flecha-derecha {
    position: absolute;
    border: none;
    border-radius: 0%;
    background: rgba(0, 0, 0, 0.3);
    font-size: 40px;
    height: 50%;
    top: calc(50% - 25%);
    line-height: 40px;
    width: 50px;
    color: #fff;
    cursor: pointer;
    z-index: 500;
    transition: 0.2s ease all;
  }
  
  .peliculas-recomendadas .contenedor-principal .flecha-izquierda:hover,
  .peliculas-recomendadas .contenedor-principal .flecha-derecha:hover {
    background: rgba(0, 0, 0, 0.9);
  }
  
  .peliculas-recomendadas .contenedor-principal .flecha-izquierda {
    left: 0;
  }
  
  .peliculas-recomendadas .contenedor-principal .flecha-derecha {
    right: 0;
  }
  
  /*CAROUSEL*/
  .peliculas-recomendadas .contenedor-carousel {
    width: 100%;
    padding: 20px 0;
    overflow: hidden;
    scroll-behavior: smooth;
  }
  .peliculas-recomendadas .contenedor-carousel .carousel {
    display: flex;
    flex-wrap: nowrap;
  }
  .peliculas-recomendadas .contenedor-carousel .carousel .pelicula {
    min-width: 20%;
    transition: 0.3s ease all;
    box-shadow: 5px 5 10 rgba(0, 0, 0, 0.3);
  }
  
  .peliculas-recomendadas .contenedor-carousel .carousel .pelicula.hover {
    transform: scale(1.2);
    transform-origin: center;
  }
  
  .peliculas-recomendadas .contenedor-carousel .carousel .pelicula img {
    width: 100%;
    vertical-align: top;
  }
  
  .blog .carousel-indicators {
    left: 0;
    top: auto;
      bottom: -40px;
  
  }
  
  /* Color de los indicadores */
  .blog .carousel-indicators li {
      background: #a3a3a3;
      border-radius: 50%;
      width: 8px;
      height: 8px;
  }
  
  .blog .carousel-indicators .active {
  background: #707070;
  }

  /*GRID*/
  .grid-contenedor{
    width: 90%;
    margin: auto;
    text-align: center;
  }
  .contenedor-portadas{
    display: grid;
    grid-template-columns: 100px 100px 100px 100px;
    column-gap: 200px;
    row-gap: 20px;
    /* grid-gap: 20px 200px; */
  }
  
  .titulo-grid{
    position: absolute;
 
  }
  .texto-grid{
    position: absolute;
    text-align: center;
    transform: translate(-50%, -50%);
  }


  /* hover */



  .portadas {
    position: relative;
    margin: 1%;
   
    height: 368px;
    width: 250px;
  }


  .capa {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    display: flex;
    transform: scale(0);
    transition: 0.3s ease;
  }
  
  

  .portadas:hover .capa {

    transform: scale(1);
  }
  